target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea
*.iml
*.ipr
*.iws
.env
.DS_Store

node_modules/
dist/
.angular/
coverage/
node_modules/
dist/
.angular/
coverage/

muk-angular/node_modules/
muk-angular/dist/
muk-angular/.angular/
muk-angular/coverage/
.claude/